// Colors
$clr1: #ce2e6c;
$clr2: #092f32;
$clr3: #574f7d;
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #fff;
$textColor: #444444;
$gray: #bbb;
$pgb: #42c8cb;
$pgt: #6bffc8;
$bgb: #ff4164;
$bgt: #ff886b;
$discount: #fe6168;
$gutter: 0rem;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
