@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

.navbar {
    width: 100%;
    height: 55px;
    border-bottom: 2px solid #f1f1f1;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 -3px 10px 3px rgba(0, 0, 0, 0.2);

    .logo {
        align-self: start;
        display: flex;
        align-items: center;

        img {
            object-fit: cover;
            width: 50px;
        }

        $main-color: #6394f8;
        $light-text: #ffff;
        a.cart-symbol {
            position: relative;
            font-size: 20px;
            color: #777777;
            text-decoration: none;
            display: inline;
            padding-left: 20px;
            width: 320px;
            cursor: pointer;
            .badge {
                background-color: #6394f8;
                border-radius: 10px;
                color: white;
                display: inline-block;
                font-size: 16px;
                line-height: 1;
                padding: 3px 7px;
                text-align: center;
                vertical-align: middle;
                white-space: nowrap;
            }
            &:hover {
                color: black;
            }
        }

        .lighter-text {
            color: black;
        }

        .main-color-text {
            color: $main-color;
        }

        .container {
            margin: auto;
            position: absolute;
            .shopping-cart {
                z-index: 20;
                display: none;
                margin: 20px 0;
                float: right;
                background: lightgrey;
                position: relative;
                border-radius: 3px;
                padding: 20px;

                .shopping-cart-header {
                    border-bottom: 1px solid #e8e8e8;
                    padding-bottom: 15px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .shopping-cart-total {
                        float: right;
                    }
                }

                .shopping-cart-items {
                    padding-top: 20px;

                    li {
                        margin-bottom: 18px;
                        display: flex;
                        align-items: center;
                    }

                    img {
                        float: left;
                        margin-right: 12px;
                        width: 50px;
                        object-fit: contain;
                    }

                    .item-name {
                        display: block;
                        padding-top: 10px;
                        font-size: 16px;
                        color: black;
                    }

                    .item-price {
                        color: $main-color;
                        margin-right: 8px;
                        font-size: 14px;
                    }

                    .item-quantity {
                        color: black;
                        font-size: 14px;
                    }
                }
            }

            .shopping-cart:after {
                bottom: 100%;
                left: 16%;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
                border-bottom-color: lightgrey;
                border-width: 8px;
                margin-left: -8px;
            }

            .cart-icon {
                color: #515783;
                font-size: 24px;
                margin-right: 7px;
                float: left;
            }

            .button {
                background: $main-color;
                color: white;
                text-align: center;
                padding: 12px;
                text-decoration: none;
                display: block;
                border-radius: 3px;
                font-size: 16px;
                margin: 25px 0 15px 0;

                &:hover {
                    background: lighten($main-color, 3%);
                }
            }

            .clearfix:after {
                content: "";
                display: table;
                clear: both;
            }
        }
    }

    @media (max-width: 768px) {
        display: flex;
        justify-content: space-around;
        flex-flow: column nowrap;
    }
}

.burger {
    width: 3rem;
    height: 2rem;
    position: fixed;
    top: 14px;
    right: 20px;
    z-index: 20;
    display: none;
    cursor: pointer;
    position: absolute;
    @media (max-width: 768px) {
        display: flex;
        justify-content: space-around;
        flex-flow: column nowrap;
    }

    .burgers {
        width: 2rem;
        height: 0.25rem;
        background-color: #333;
        border-radius: 10px;
        transform-origin: 1px;
        transition: all 0.3s linear;
    }
    &.open {
        display: flex;
        .burgers:nth-child(1) {
            transform: rotate(0);
        }
        .burgers:nth-child(1).open {
            transform: rotate(45deg);
        }
        .burgers:nth-child(2) {
            transform: translateX(0);
            opacity: 1;
        }
        .burgers:nth-child(2).open {
            transform: translateX(100%);
            opacity: 0;
        }
        .burgers:nth-child(3) {
            transform: rotate(0);
        }
        .burgers:nth-child(3).open {
            transform: rotate(-45deg);
        }
    }
}

.right-nav {
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    z-index: 1;
    margin: 0;
    gap: 20px;
    align-items: center;
    padding: 0;

    li {
        padding: 18px 10px;
    }

    a {
        width: 100%;
        text-align: center;
        color: #333;
        padding: 20px;
        &.active {
            color: #ff7518;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }
    }
    @media (max-width: 768px) {
        flex-flow: column nowrap;
        background-color: #787878;
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 200px;
        padding-top: 3.5rem;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
        &.open {
            transform: translateX(0);
        }

        li {
            color: #fff;
        }
        a {
            color: white;
            &.active {
                background-color: #f1f1f1;
            }
        }
    }
}
