.chat-window {
    font-size: 1em;
    position: fixed;
    justify-content: space-between;
    right: 0.5rem;
    bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}
.chat-window .chat-box {
    background-color: #fff;
    box-shadow: 0 8px 24px rgba(149, 157, 165, 20%);
    padding: 0.625em;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    // overflow: auto;
}
.chat-window .chat-box .chat-content {
    overflow-y: scroll;
    min-height: 300px;
    max-height: 400px;
}

.chat-controller {
    display: flex;
    justify-content: space-between;
}

.closeChat {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    background: transparent;
    font-size: 24px;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.user-msg {
    color: white;
    padding: 10px;
    font-size: 1.4em;
    position: fixed;
    top: 0;
    right: 0;
    background-color: grey;
}

.user-msg button {
    float: right;
    border: 0;
    border-radius: 50%;
    margin: 5px;
}

.success {
    background-color: rgb(41, 189, 73);
}

.danger {
    background-color: rgb(216, 59, 59);
}

.chat-button {
    position: fixed;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    color: white;
    padding: 15px;
    cursor: pointer;
    box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.6), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    background-image: linear-gradient(to bottom right, rgba(168, 224, 99, 1), rgba(246, 72, 72, 1));
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    text-align: center;
}

.ai-person-container {
    display: block;
    overflow: auto;
}

.ai,
.person {
    overflow: auto;
    margin: 4px;
    border: 2px solid black;
    border-radius: 8px;
    display: inline-block;
    p {
        margin: 0;
        padding: 10px;
    }

    @media screen and (max-width: 480px) {
        .person,
        .ai {
            font-size: 20px;
        }
    }
}

.ai {
    text-align: left;
    margin-right: 36px;
    border-color: red;
    float: left;
    border-bottom-left-radius: 0px;
}

.person {
    text-align: left;
    margin-left: 36px;
    border-color: blue;
    float: right;
    border-bottom-right-radius: 0px;
}

.ai-date,
.person-date {
    font-size: 10px;
    clear: both;
}

.ai-date {
    float: left;
    margin-left: 6px;
}

.person-date {
    float: right;
    margin-right: 6px;
}
