* {
    box-sizing: border-box;
}

::selection {
    background-color: $clr1;
    color: #fff;
}

html {
    font-family: montserrat, sans-serif;
    color: $clr2;
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    font-family: montserrat, sans-serif;
    box-sizing: border-box;
}

img {
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    font-family: caveat, serif;
    text-transform: uppercase;
    margin: 0 0 2rem;
}

p {
    margin: 0 0 2rem;
    max-width: 46ch;
}

a {
    text-decoration: none;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    // display: flex;
    // align-items: center;
    // justify-self: center;
    position: fixed;
    top: 45%;
    left: 35%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid $clr1;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    @include for-normal-layout {
        top: 50%;
        left: 45%;
    }
}

@keyframes spin {
    0% {
        transform: scale(1) rotate(360deg);
    }
    50% {
        transform: scale(0.8) rotate(-360deg);
    }
    100% {
        transform: scale(1) rotate(360deg);
    }
}
